Package: com.mowang.memorymanagement
Name: Memory Management
Version: 1.0.0
Architecture: iphoneos-arm64
Description: RootHide background autostart management prototype.
Maintainer: MoWang
Author: MoWang
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
